.aa{ border-radius: 120px; opacity: .75; background-color:rgb(251,165,39); }
.ab{ border-radius: 120px; opacity: .75; background-color:rgb(214,14,162); }
.ac{ border-radius: 120px; opacity: .75; background-color:rgb(13,110,168); }
.ad{ border-radius: 120px; opacity: .75; background-color:rgb(246,163,4); }
.ae{ border-radius: 120px; opacity: .75; background-color:rgb(193,102,49); }
.af{ border-radius: 120px; opacity: .75; background-color:rgb(176,192,207); }
.ag{ border-radius: 120px; opacity: .75; background-color:rgb(139,149,2); }
.ah{ border-radius: 120px; opacity: .75; background-color:rgb(64,6,79); }
.ai{ border-radius: 120px; opacity: .75; background-color:rgb(94,92,73); }
.aj{ border-radius: 120px; opacity: .75; background-color:rgb(46,186,242); }
.ak{ border-radius: 120px; opacity: .75; background-color:rgb(112,229,174); }
.al{ border-radius: 120px; opacity: .75; background-color:rgb(173,148,206); }
.am{ border-radius: 120px; opacity: .75; background-color:rgb(17,50,70); }
.an{ border-radius: 120px; opacity: .75; background-color:rgb(49,182,220); }
.ao{ border-radius: 120px; opacity: .75; background-color:rgb(106,76,139); }
.ap{ border-radius: 120px; opacity: .75; background-color:rgb(70,11,108); }
.aq{ border-radius: 120px; opacity: .75; background-color:rgb(253,204,145); }
.ar{ border-radius: 120px; opacity: .75; background-color:rgb(103,3,224); }
.as{ border-radius: 120px; opacity: .75; background-color:rgb(64,5,79); }
.bb{ border-radius: 120px; opacity: .75; background-color:rgb(147,197,233); }
.bc{ border-radius: 120px; opacity: .75; background-color:rgb(255,62,71); }
.bd{ border-radius: 120px; opacity: .75; background-color:rgb(109,73,36); }
.be{ border-radius: 120px; opacity: .75; background-color:rgb(2,115,146); }
.bf{ border-radius: 120px; opacity: .75; background-color:rgb(112,254,194); }
.bg{ border-radius: 120px; opacity: .75; background-color:rgb(56,32,178); }
.bh{ border-radius: 120px; opacity: .75; background-color:rgb(48,146,149); }
.bi{ border-radius: 120px; opacity: .75; background-color:rgb(64,145,55); }
.bj{ border-radius: 120px; opacity: .75; background-color:rgb(185,129,56); }
.bk{ border-radius: 120px; opacity: .75; background-color:rgb(192,55,174); }
.bl{ border-radius: 120px; opacity: .75; background-color:rgb(66,41,88); }
.bm{ border-radius: 120px; opacity: .75; background-color:rgb(36,105,91); }
.bn{ border-radius: 120px; opacity: .75; background-color:rgb(242,113,19); }
.bo{ border-radius: 120px; opacity: .75; background-color:rgb(39,97,34); }
.bp{ border-radius: 120px; opacity: .75; background-color:rgb(238,52,43); }
.bq{ border-radius: 120px; opacity: .75; background-color:rgb(122,113,43); }
.br{ border-radius: 120px; opacity: .75; background-color:rgb(240,105,57); }
.bs{ border-radius: 120px; opacity: .75; background-color:rgb(44,122,61); }
.cc{ border-radius: 120px; opacity: .75; background-color:rgb(233,0,213); }
.cd{ border-radius: 120px; opacity: .75; background-color:rgb(69,117,148); }
.ce{ border-radius: 120px; opacity: .75; background-color:rgb(77,38,198); }
.cf{ border-radius: 120px; opacity: .75; background-color:rgb(15,187,163); }
.cg{ border-radius: 120px; opacity: .75; background-color:rgb(62,248,193); }
.ch{ border-radius: 120px; opacity: .75; background-color:rgb(212,212,245); }
.ci{ border-radius: 120px; opacity: .75; background-color:rgb(225,112,171); }
.cj{ border-radius: 120px; opacity: .75; background-color:rgb(92,54,234); }
.ck{ border-radius: 120px; opacity: .75; background-color:rgb(239,228,209); }
.cl{ border-radius: 120px; opacity: .75; background-color:rgb(166,144,146); }
.cm{ border-radius: 120px; opacity: .75; background-color:rgb(204,14,1); }
.cn{ border-radius: 120px; opacity: .75; background-color:rgb(68,29,185); }
.co{ border-radius: 120px; opacity: .75; background-color:rgb(62,87,65); }
.cp{ border-radius: 120px; opacity: .75; background-color:rgb(176,130,237); }
.cq{ border-radius: 120px; opacity: .75; background-color:rgb(173,115,165); }
.cr{ border-radius: 120px; opacity: .75; background-color:rgb(11,16,64); }
.cs{ border-radius: 120px; opacity: .75; background-color:rgb(174,53,68); }
.dd{ border-radius: 120px; opacity: .75; background-color:rgb(45,45,92); }
.de{ border-radius: 120px; opacity: .75; background-color:rgb(115,105,7); }
.df{ border-radius: 120px; opacity: .75; background-color:rgb(176,75,178); }
.dg{ border-radius: 120px; opacity: .75; background-color:rgb(63,97,85); }
.dh{ border-radius: 120px; opacity: .75; background-color:rgb(208,41,34); }
.di{ border-radius: 120px; opacity: .75; background-color:rgb(124,176,183); }
.dj{ border-radius: 120px; opacity: .75; background-color:rgb(141,108,3); }
.dk{ border-radius: 120px; opacity: .75; background-color:rgb(230,194,222); }
.dl{ border-radius: 120px; opacity: .75; background-color:rgb(99,65,62); }
.dm{ border-radius: 120px; opacity: .75; background-color:rgb(166,199,227); }
.dn{ border-radius: 120px; opacity: .75; background-color:rgb(51,73,82); }
.do{ border-radius: 120px; opacity: .75; background-color:rgb(56,247,210); }
.dp{ border-radius: 120px; opacity: .75; background-color:rgb(23,254,102); }
.dq{ border-radius: 120px; opacity: .75; background-color:rgb(140,3,222); }
.dr{ border-radius: 120px; opacity: .75; background-color:rgb(13,144,31); }
.ds{ border-radius: 120px; opacity: .75; background-color:rgb(91,177,182); }
.ee{ border-radius: 120px; opacity: .75; background-color:rgb(131,211,64); }
.ef{ border-radius: 120px; opacity: .75; background-color:rgb(222,53,28); }
.eg{ border-radius: 120px; opacity: .75; background-color:rgb(6,14,20); }
.eh{ border-radius: 120px; opacity: .75; background-color:rgb(167,240,135); }
.ei{ border-radius: 120px; opacity: .75; background-color:rgb(65,14,219); }
.ej{ border-radius: 120px; opacity: .75; background-color:rgb(253,1,163); }
.ek{ border-radius: 120px; opacity: .75; background-color:rgb(174,169,193); }
.el{ border-radius: 120px; opacity: .75; background-color:rgb(47,227,169); }
.em{ border-radius: 120px; opacity: .75; background-color:rgb(190,181,157); }
.en{ border-radius: 120px; opacity: .75; background-color:rgb(225,27,183); }
.eo{ border-radius: 120px; opacity: .75; background-color:rgb(148,49,11); }
.ep{ border-radius: 120px; opacity: .75; background-color:rgb(61,148,65); }
.eq{ border-radius: 120px; opacity: .75; background-color:rgb(216,219,64); }
.er{ border-radius: 120px; opacity: .75; background-color:rgb(214,166,140); }
.es{ border-radius: 120px; opacity: .75; background-color:rgb(155,176,164); }
.ff{ border-radius: 120px; opacity: .75; background-color:rgb(6,4,28); }
.fg{ border-radius: 120px; opacity: .75; background-color:rgb(136,112,68); }
.fh{ border-radius: 120px; opacity: .75; background-color:rgb(116,148,146); }
.fi{ border-radius: 120px; opacity: .75; background-color:rgb(138,97,253); }
.fj{ border-radius: 120px; opacity: .75; background-color:rgb(136,36,209); }
.fk{ border-radius: 120px; opacity: .75; background-color:rgb(106,157,190); }
.fl{ border-radius: 120px; opacity: .75; background-color:rgb(23,16,41); }
.fm{ border-radius: 120px; opacity: .75; background-color:rgb(199,48,168); }
.fn{ border-radius: 120px; opacity: .75; background-color:rgb(119,56,104); }
.fo{ border-radius: 120px; opacity: .75; background-color:rgb(38,181,108); }
.fp{ border-radius: 120px; opacity: .75; background-color:rgb(93,163,77); }
.fq{ border-radius: 120px; opacity: .75; background-color:rgb(5,188,70); }
.fr{ border-radius: 120px; opacity: .75; background-color:rgb(181,82,74); }
.fs{ border-radius: 120px; opacity: .75; background-color:rgb(177,2,232); }
.gg{ border-radius: 120px; opacity: .75; background-color:rgb(152,84,85); }
.gh{ border-radius: 120px; opacity: .75; background-color:rgb(150,225,119); }
.gi{ border-radius: 120px; opacity: .75; background-color:rgb(235,179,224); }
.gj{ border-radius: 120px; opacity: .75; background-color:rgb(96,151,180); }
.gk{ border-radius: 120px; opacity: .75; background-color:rgb(36,166,81); }
.gl{ border-radius: 120px; opacity: .75; background-color:rgb(156,149,53); }
.gm{ border-radius: 120px; opacity: .75; background-color:rgb(5,84,26); }
.gn{ border-radius: 120px; opacity: .75; background-color:rgb(90,205,99); }
.go{ border-radius: 120px; opacity: .75; background-color:rgb(147,203,68); }
.gp{ border-radius: 120px; opacity: .75; background-color:rgb(180,176,74); }
.gq{ border-radius: 120px; opacity: .75; background-color:rgb(90,223,40); }
.gr{ border-radius: 120px; opacity: .75; background-color:rgb(68,131,52); }
.gs{ border-radius: 120px; opacity: .75; background-color:rgb(197,231,33); }
.hh{ border-radius: 120px; opacity: .75; background-color:rgb(10,36,246); }
.hi{ border-radius: 120px; opacity: .75; background-color:rgb(56,232,233); }
.hj{ border-radius: 120px; opacity: .75; background-color:rgb(95,183,246); }
.hk{ border-radius: 120px; opacity: .75; background-color:rgb(26,13,99); }
.hl{ border-radius: 120px; opacity: .75; background-color:rgb(110,116,37); }
.hm{ border-radius: 120px; opacity: .75; background-color:rgb(221,173,255); }
.hn{ border-radius: 120px; opacity: .75; background-color:rgb(228,75,4); }
.ho{ border-radius: 120px; opacity: .75; background-color:rgb(109,68,219); }
.hp{ border-radius: 120px; opacity: .75; background-color:rgb(90,150,11); }
.hq{ border-radius: 120px; opacity: .75; background-color:rgb(234,186,100); }
.hr{ border-radius: 120px; opacity: .75; background-color:rgb(21,224,158); }
.hs{ border-radius: 120px; opacity: .75; background-color:rgb(189,244,220); }
.ii{ border-radius: 120px; opacity: .75; background-color:rgb(254,215,246); }
.ij{ border-radius: 120px; opacity: .75; background-color:rgb(215,91,91); }
.ik{ border-radius: 120px; opacity: .75; background-color:rgb(104,55,124); }
.il{ border-radius: 120px; opacity: .75; background-color:rgb(144,190,202); }
.im{ border-radius: 120px; opacity: .75; background-color:rgb(143,151,232); }
.in{ border-radius: 120px; opacity: .75; background-color:rgb(183,7,68); }
.io{ border-radius: 120px; opacity: .75; background-color:rgb(255,190,107); }
.ip{ border-radius: 120px; opacity: .75; background-color:rgb(156,243,111); }
.iq{ border-radius: 120px; opacity: .75; background-color:rgb(127,138,242); }
.ir{ border-radius: 120px; opacity: .75; background-color:rgb(33,163,80); }
.is{ border-radius: 120px; opacity: .75; background-color:rgb(20,142,69); }
.jj{ border-radius: 120px; opacity: .75; background-color:rgb(110,6,123); }
.jk{ border-radius: 120px; opacity: .75; background-color:rgb(159,38,151); }
.jl{ border-radius: 120px; opacity: .75; background-color:rgb(140,172,15); }
.jm{ border-radius: 120px; opacity: .75; background-color:rgb(46,70,119); }
.jn{ border-radius: 120px; opacity: .75; background-color:rgb(98,187,76); }
.jo{ border-radius: 120px; opacity: .75; background-color:rgb(62,189,129); }
.jp{ border-radius: 120px; opacity: .75; background-color:rgb(127,59,109); }
.jq{ border-radius: 120px; opacity: .75; background-color:rgb(176,125,122); }
.jr{ border-radius: 120px; opacity: .75; background-color:rgb(14,109,150); }
.js{ border-radius: 120px; opacity: .75; background-color:rgb(140,29,34); }
.kk{ border-radius: 120px; opacity: .75; background-color:rgb(90,250,7); }
.kl{ border-radius: 120px; opacity: .75; background-color:rgb(71,47,40); }
.km{ border-radius: 120px; opacity: .75; background-color:rgb(154,214,242); }
.kn{ border-radius: 120px; opacity: .75; background-color:rgb(238,82,103); }
.ko{ border-radius: 120px; opacity: .75; background-color:rgb(104,104,100); }
.kp{ border-radius: 120px; opacity: .75; background-color:rgb(6,107,38); }
.kq{ border-radius: 120px; opacity: .75; background-color:rgb(30,213,114); }
.kr{ border-radius: 120px; opacity: .75; background-color:rgb(152,44,110); }
.ks{ border-radius: 120px; opacity: .75; background-color:rgb(70,104,99); }
.ll{ border-radius: 120px; opacity: .75; background-color:rgb(19,71,96); }
.lm{ border-radius: 120px; opacity: .75; background-color:rgb(177,138,232); }
.ln{ border-radius: 120px; opacity: .75; background-color:rgb(144,109,106); }
.lo{ border-radius: 120px; opacity: .75; background-color:rgb(120,182,69); }
.lp{ border-radius: 120px; opacity: .75; background-color:rgb(92,100,40); }
.lq{ border-radius: 120px; opacity: .75; background-color:rgb(32,113,31); }
.lr{ border-radius: 120px; opacity: .75; background-color:rgb(151,52,158); }
.ls{ border-radius: 120px; opacity: .75; background-color:rgb(103,25,105); }
.mm{ border-radius: 120px; opacity: .75; background-color:rgb(5,33,32); }
.mn{ border-radius: 120px; opacity: .75; background-color:rgb(186,12,24); }
.mo{ border-radius: 120px; opacity: .75; background-color:rgb(243,34,6); }
.mp{ border-radius: 120px; opacity: .75; background-color:rgb(55,118,233); }
.mq{ border-radius: 120px; opacity: .75; background-color:rgb(197,215,136); }
.mr{ border-radius: 120px; opacity: .75; background-color:rgb(54,138,124); }
.ms{ border-radius: 120px; opacity: .75; background-color:rgb(115,80,181); }
.nn{ border-radius: 120px; opacity: .75; background-color:rgb(52,156,116); }
.no{ border-radius: 120px; opacity: .75; background-color:rgb(133,158,206); }
.np{ border-radius: 120px; opacity: .75; background-color:rgb(140,179,90); }
.nq{ border-radius: 120px; opacity: .75; background-color:rgb(34,196,99); }
.nr{ border-radius: 120px; opacity: .75; background-color:rgb(236,87,2); }
.ns{ border-radius: 120px; opacity: .75; background-color:rgb(2,217,190); }
.oo{ border-radius: 120px; opacity: .75; background-color:rgb(37,141,138); }
.op{ border-radius: 120px; opacity: .75; background-color:rgb(97,141,190); }
.oq{ border-radius: 120px; opacity: .75; background-color:rgb(188,152,61); }
.or{ border-radius: 120px; opacity: .75; background-color:rgb(6,19,76); }
.os{ border-radius: 120px; opacity: .75; background-color:rgb(156,21,47); }
.pp{ border-radius: 120px; opacity: .75; background-color:rgb(146,94,22); }
.pq{ border-radius: 120px; opacity: .75; background-color:rgb(164,136,92); }
.pr{ border-radius: 120px; opacity: .75; background-color:rgb(15,97,245); }
.ps{ border-radius: 120px; opacity: .75; background-color:rgb(59,69,167); }
.qq{ border-radius: 120px; opacity: .75; background-color:rgb(159,222,196); }
.qr{ border-radius: 120px; opacity: .75; background-color:rgb(89,0,191); }
.qs{ border-radius: 120px; opacity: .75; background-color:rgb(244,181,145); }
.rr{ border-radius: 120px; opacity: .75; background-color:rgb(71,219,218); }
.rs{ border-radius: 120px; opacity: .75; background-color:rgb(80,24,6); }
